//Original color scheme
// $lb: #f8e9a1;
// $lo: #24305e;
// $rb: #a8d0e6;
// $ro: #f76c6c;

//80's scheme
// $lb: #10e7e2;
// $lo: #3968cb;
// $rb: #f9eb0f;
// $ro: #ff68a8;

//30's scheme
// $lb: #3a7359;
// $lo: #345d98;
// $rb: #eed023;
// $ro: #d02d1c;

//Metro UI
$lb: #00b159;
$lo: #00aedb;
$rb: #ffc425;
$ro: #d11141;

$bg: #0c0c0c;
$link-highlight: #95ff00;
