@import "./colors.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

nav {
  position: fixed;
  left: 0;
  z-index: 50;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    a {
      font-size: 40px;
      color: #fff;
      text-decoration: none;
      padding: 20px;
      text-align: center;

      &.close {
        display: none;
      }
    }
  }
}

.container {
  background: #191919;
  min-height: 100vh;

  section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: #fff;
      font-size: 50px;
      text-transform: uppercase;
      opacity: 0;
    }
  }

  section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    h1 {
      opacity: 0;
      animation: 2s fadeIn forwards 0.5s;
    }
  }

  #first {
    background: $lb;
  }

  #second {
    background: $lo;
  }

  #third {
    background: $rb;
  }

  #fourth {
    background: $ro;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
