@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.otf") format("opentype"),
    url("../fonts/icomoon.svg#filename") format("svg");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 200;
}

h2 {
  color: #fff;
  font-size: 1.7em;
  font-weight: 200;
}

a {
  color: #fff;
  font-size: 1.3em;
}

svg,
.icon {
  -webkit-transition: color 0.2s, font-size 0.2s;
  transition: color 0.2s, font-size 0.2s;
}

.link-icon:hover {
  cursor: pointer;
}

.link-icon:hover svg,
.link-icon:hover .icon {
  font-size: 48px;
  color: #ff4f00;
}

.sidebar {
  -webkit-box-shadow: #0c0c0c;
  box-shadow: #0c0c0c;
  background: #0c0c0c;
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    min-width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    z-index: 50;
  }
}

.sidebar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sidebar div a {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

.sidebar div a.close {
  display: none;
}

@media screen and (min-width: 768px) {
  nav {
    left: 0;
    -webkit-box-shadow: 1px 0px 10px 0px #000000;
    box-shadow: 1px 0px 10px 0px #000000;
  }
}

@media screen and (max-width: 768px) {
  nav {
    top: 0;
    -webkit-box-shadow: 0px 1px 10px 0px #000000;
    box-shadow: 0px 1px 10px 0px #000000;
  }
}

nav div a.close {
  display: none;
}

@media screen and (min-width: 768px) {
  footer {
    right: 0;
    -webkit-box-shadow: -1px 0px 10px 0px #000000;
    box-shadow: -1px 0px 10px 0px #000000;
  }
}

@media screen and (max-width: 768px) {
  footer {
    bottom: 0;
    -webkit-box-shadow: 0px -1px 10px 0px #000000;
    box-shadow: 0px -1px 10px 0px #000000;
  }
}

footer div a .icon-bcreate-logo-small-icon {
  font-family: "icomoon";
}

footer div a .icon-bcreate-logo-small-icon:before {
  content: "\e900";
}

.container {
  background: #191919;
  max-height: 100vh;
  position: relative;
}

.container .section,
.container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.container section {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 0;
  opacity: 0;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  padding-top: 100px;
}

.container section * {
  -webkit-animation: 0.2s fadeOut forwards;
  animation: 0.2s fadeOut forwards;
}

@media screen and (max-width: 768px) {
  .container section {
    height: 0;
    width: 100%;
  }
}

.container section:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: visible;
}

.container section:target * {
  opacity: 0;
  -webkit-animation: 1.5s fadeIn forwards 0.3s;
  animation: 1.5s fadeIn forwards 0.3s;
}

.container #bg {
  background: #0c0c0c;
  width: 100%;
  height: 100vh;
}

.container #bg img {
  max-width: 10%;
  border-radius: 100%;
  -webkit-animation: pulse-white 7s forwards;
  animation: pulse-white 7s forwards;
  margin-bottom: 25px;
}

.container #bg h1 {
  font-size: 3em;
  margin-bottom: 15px;
}

.container #bg .email {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff4f00),
    color-stop(50%, #ff4f00),
    color-stop(50%, #fff)
  );
  background: linear-gradient(to right, #ff4f00, #ff4f00 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 0.4s ease-in-out;
  transition: background-position 0.4s ease-in-out;
}

.container #bg .email:hover {
  background-position: 0 100%;
}

.container #personalia {
  background: #00b159;
}

.container #personalia .about-grid {
  width: 50%;
  height: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.container #personalia .about-grid .grid-item {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px 0px #000000;
  box-shadow: 5px 5px 10px 0px #000000;
  background-color: #0c0c0c;
}

.container #werkervaring {
  background: #00aedb;
}

.container #vaardigheden {
  background: #ffc425;
}

.container #opleidingen {
  background: #d11141;
}

@-webkit-keyframes pulse-white {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-white {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */
